<div class="video">
  <iframe src="//player.vimeo.com/video/2619976?title=0&amp;byline=0&amp;portrait=0" style="max-width:100%" width="800" height="416" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<div class="about">
  <h2 class="subheader">About us</h2>
  <p>Cupidatat latte id ideate driven disrupt ullamco ipsum agile. Steve Jobs paradigm 360 campaign pitch deck adipisicing proident workflow sticky note aliquip et et dolore pair programming cillum. Affordances reprehenderit grok pariatur long shadow physical computing dolore workflow incididunt ideate reprehenderit. Eu in co-working amet Steve Jobs user centered design cupidatat pariatur unicorn. Sticky note iterate in amet Duis entrepreneur proident velit nostrud id sit anim. Nostrud qui id engaging food-truck laboru exercitation. Incididunt sunt pariatur physical computing cillum laboris earned media amet entrepreneur pitch deck. User story nisi responsive exercitation user centered design intuitive minim aliquip dolor ea minimum viable product.</p> 
</div>

<%= partial 'twitter' %>

<div class="cta">
  <h2 class="subheader">Contact us</h2>
  <form class="pure-form" action="//forms.brace.io/jordan@grasp3d.co" method="POST">
    <fieldset>
      <div class="pure-control-group">
        <input type="email" name="_replyto" placeholder="email@me.com">
      </div>

      <div class="pure-control-group">
        <input name="message" rows="5" placeholder="Your message"></input>
      </div>

      <input type="hidden" name="_next" value="//grasp3d.co/thanks.html" />
      <div class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary">Send</button>
      </div>
    </fieldset>
  </form>
</div>
